.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

  }
  
  .item-card {
    width: 300px;
    height: 480px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #EEC203;
    padding: 10px;
  }
  
  .item-card:hover {
    transform: scale(1.02);
    box-shadow: 5px 10px 0px #4CAF50;    
 
}
  
  .item-card .card-img-top {

    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .item-card .card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #8E44AD;

  }
  
  .item-card .card-title {
    background-color: #FFEB3B;

    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Kraash-Black';
    padding: 5px;
    border-radius: 5px;
    color: #EEC203;
  }
  
  .item-card .card-text {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'BobaMilky';
    color: #475F2A;


  }
  
  .item-card .card-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .item-card .card-category {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .item-card .card-button {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 10px;
  }
  .custom-button {
    font-family: 'Kraash-Black' ;
    background-color: #4CAF50; 
    color: #EEC203; 
    transition: all 0.5s ease-in-out;

    border: none;


}
  
  .custom-button:hover {
    font-family: 'Kraash' ;
    background-color: #4CAF50; 
    color: #EEC203; 
    transition: all 0.5s ease-in-out;


  }