* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  overflow-x: hidden;
  background-color: #8E44AD;
  width: 100%;
  min-height: 1000px;
}


/* C62828 
8E44AD 
9B59B6 
BB8FCE
D7BDE2  
5B2C6F
B30000
FF4D4D 
FF5733
8B0000 
verde 1 4CAF50
verde 2 475F2A
amarillo 1 FFEB3B
amarillo 2 EEC203
  */