img{
    width: 200px;
    height: 250px;
}
.fila{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    @media screen and (max-width: 1400px){
        grid-template-columns: 1fr 1fr 1fr ;


    }
    @media screen and (max-width: 1000px){
        grid-template-columns: 1fr 1fr  ;


    }
    @media screen and (max-width: 770px){
        grid-template-columns: 1fr   ;


    }
}
h3{
    text-align: center;
}

